.baseInput {
    width: 90%;
    height: 5vh;
    background-color: #282c34;
    color: white;
    font-size: calc(10px + 1vmin);
    border: 0px;
    border-bottom: 2px solid #5c6986;
    margin: 10px 5px;
  }
  
  .baseInput:focus {
    outline: none;
    border:0px;
    box-shadow: 0px;
    border-bottom: 2px solid #5c6986;
  }